/* .modal .row .col img {
  transition: 600ms ease-in-out !important;
  cursor: pointer;
  }
.modal .row .col img:active {
  width: 100% !important;
  position: absolute !important;
  left: 0 !important;
  z-index: 999999 !important;
  pointer-events: none;
} */

.accordion .accordion-body .card {
  border: 0;
  background-color: #f9f9f9;
  transition: 300ms ease-in-out;
  cursor: default;
}
.accordion .accordion-body .card:hover {
  background-color: #ebebeb;
  box-shadow: var(--bs-box-shadow);
}