/* bagian animasi */

@keyframes animasi {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(2.4rem);
   }
   100% {
      transform: translateY(0);
   }
}

@keyframes animasi-tombol {
   0% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(.5rem);
   }
   100% {
      transform: translateX(0);
   }
}

@keyframes translateY {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-1.4rem);
   }
   100% {
      transform: translateY(0);
   }
}